@import "./media-queries.scss";

a {
  text-decoration: none;
}

.highlight-bold {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
  sup {
    font-size: var(--d4);
    position: relative;
    top: -6px;
  }
}

[color-accent] {
  color: var(--accent);
}

[color-primary] {
  color: var(--primary);
}
